@import './variables.scss';

@media (max-width: 1300px) {
    .container__projects {
        -ms-grid-columns: (1fr, 2);
            grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1150px) {
    .skills {
        -ms-grid-columns: (1fr, 2);
            grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .container__about-box {
        width: 40vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        min-width: 350px;
    }
}

@media (max-width: 800px) {
    
    .skills {
        -ms-grid-columns: (1fr, 1);
            grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
    }

    .container__projects {
        -ms-grid-columns: (1fr, 1);
            grid-template-columns: repeat(1, 1fr);
    }

    .form {
        width: 95%;
    }

    .textarea {
        min-height: 200px;
    }
}

@media (max-width: 550px) {

    .container__about {
        padding: 50px 0;
    }

    .container__about-box {
        width: 90vw;
        min-width: unset;
        padding: 20px 0 0 0;
        margin: 0 auto;
    }

    .hide-on-small-device {
        display: none;
    }

    .arrow-up {
        right: 40px;
    }
}

@media (max-width: 450px) {

    .container__header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .navigation {
        width: 100%;
        height: 60px;
        min-width: 0;
    }

    .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .list {
        display: none;
    }

    .list__mobile {
        list-style: none;
        position: absolute;
        right: -10px;
        top: -10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding: 5px;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: $blue-sapphire;
        z-index: -1;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        overflow: hidden;
    }

    .list-mobile__item {
        text-align: center;
    }

    .container__skills {
        padding: 50px 0;
    }

    .skill {
        width: 90%;
    }

    .skill__image {
        width: 100%;
        height: 100%;
    }

    .container__footer {
        position: relative;
    }


}

@media (max-width: 350px) {
    .project__description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}